<h1>All Tasks</h1>
     <%= link_to "New Task", new_task_path(@task), class: 'btn btn-success' %>

<%= grid(@tasks_grid, show_filters: :always) do |g|
   g.column name: 'Date Created', attribute: 'created_at' do |task|
     task.created_at.to_date
   end

   g.column name: 'Task', attribute: 'title' do |task|
      task.title
  end

  g.column name: 'Company', attribute: 'name', assoc: :company do |task|
    # task.company.name
   end

  # g.column name: 'User', attribute: 'users', assoc: [:company, :user_id] do |task|
    # task.company.users.inspect
  # end

  g.column do |task|
    # link_to('Delete',delete_task_path(task))
  end

  g.column name: 'Complete', attribute: 'archived' do |task|
    task.archived? ? 'Yes':'No'
  end

end -%>
